# Emacs
*~
\#*\#

# Object file
*.o

# Ada Library Information
*.ali

# Object file
*.o
*.so
*.a

# Alire
/obj/
/bin/
/alire/
/config/

# Recordflux
/generated/
.rflx_cache/

# Temporary files
/tmp/

# gnatprove
why3shapes
why3shapes.bak
why3session.xml.bak
