# Build using Alire and upload an AppImage to the GitHub releases section.
name: AppImage

on:                    # Run the workflow for each of the following events:
  push:                # - A branch is pushed or updated.
    paths-ignore:
      - 'README.md'
  pull_request:        # - A pull-request is opened or updated.
    paths-ignore:
      - 'README.md'
  workflow_dispatch:   # - A manual run of the workflow is requested from the GitHub web interface.
  release:
    types: [created]   # - A release is created.

permissions: write-all

jobs:
  release:
    name: Continuous
    runs-on: ubuntu-22.04
    steps:
       - name: Checkout
         uses: actions/checkout@v2
         with:
           submodules: 'true' # Also checkout recursively the submodules
       - name: alr2appimage-action
         uses: mgrojo/alr2appimage-action@main
         with:
           alireVersion: 2.1.0
           crateDir: client
           alr2appimageArgs: "--terminal --use-version"
           deleteExistent: true
       - name: alr2appimage-action
         uses: mgrojo/alr2appimage-action@main
         with:
           alireVersion: 2.1.0
           crateDir: server
           alr2appimageArgs: "--terminal --use-version"
           deleteExistent: false
